<!doctype html>
<html lang="en">

    <head>
        <title>Animation | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Pixel Animation | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include gd-alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="cardless-item">
                    <h2>Motion Design</h2>
                    <p class="subhead">Personal projects I've worked on as a creative outlet and excuse to brush up on
                        motion design and
                        illustration.</p>
                </div>




                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">

                                    <video preload autoplay="autoplay" muted="true" playsinline="true" muted autoplay
                                        loop class="m-auto">
                                        <source src="riteaid-seq.mp4" type="video/mp4"
                                            alt="Pixel Art rendition of a neon lit drugstore at night">
                                    </video>
                                    <h5>Drug Store</h5>
                                    <p class="md:max-w-32">Drawn and animated pixel by pixel in Photoshop by reference
                                        from a photo I
                                        took of
                                        my local Rite
                                        Aid one
                                        evening in the snow. Inspired by <a
                                            href="http://www.markferrari.com/recent-artwork">Mark
                                            Ferrari's 8-bitish artwork for Thimbleweed Park.</a></p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card">
                                    <div class="max-w-full flex flex-row">
                                        <video muted autoplay loop preload autoplay="autoplay" muted="true"
                                            playsinline="true" class="vid-series">
                                            <source class="w-full" src="sk8.mp4" type="video/mp4"
                                                alt="Pixel Art rendition a girl skateboarding.">
                                        </video>
                                        <video muted autoplay preload autoplay="autoplay" muted="true"
                                            playsinline="true" loop class="vid-series">
                                            <source class="w-full" src="sk8-floss.mp4" type="video/mp4"
                                                alt="Pixel Art rendition girl doing the floss dance while skateboarding.">
                                        </video>
                                        <video muted autoplay preload autoplay="autoplay" muted="true"
                                            playsinline="true" loop class="vid-series">
                                            <source class="w-full" src="sk8-spin.mp4" type="video/mp4"
                                                alt="Pixel Art rendition of a girl dancing while skateboarding.">
                                        </video>
                                    </div>
                                    <h5>Sk8-Bit Series</h5>
                                    <p>Created using <a
                                            href="https://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgOCU7_TgCAw/edit">Piskel</a>,
                                        a free online pixel art tool, using videos of skateboarders as reference
                                        for motion.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card">
                                    <video muted autoplay preload autoplay="autoplay" muted="true" playsinline="true"
                                        loop class="">
                                        <source class="w-full" src="tidal-loop.mov" type="video/mp4"
                                            alt="Pixel Art rendition of a neon lit drugstore at night">
                                    </video>
                                    <h5>~!@shoes</h5>
                                    <p>Concept exploration through frame-by-frame animation, drawn and animated with <a
                                            href="http://www.roughanimator.com/">Rough
                                            Animator</a> for iPad</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card max-h-vh">
                                    <video muted autoplay preload autoplay="autoplay" muted="true" playsinline="true"
                                        loop class="">
                                        <source class="w-full" src="phoebes.mov" type="video/mp4"
                                            alt="Pixel Art rendition of a neon lit drugstore at night">
                                    </video>
                                    <h5>Punisher - Phoebe Bridgers</h5>
                                    <p>Fan art for an Indie album drawn and animated with <a
                                            href="http://www.roughanimator.com/">Rough
                                            Animator</a> for iPad</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card max-h-vh">
                                    <iframe width="560" height="315"
                                        src="https://www.youtube-nocookie.com/embed/ld1AeSjMaXY?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                    <h5>Kinetic Typography - Shaun of the Dead</h5>
                                    <p>Assets created in Adobe Illustrated, animated in After Effects. Sound clip from
                                        Shaun of the Dead.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>









            </div>

            <%- include footer.html -%>

    </body>

</html>