<!doctype html>
<html lang="en">

    <head>
        <title>NowPlaying | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="NowPlaying | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include gd-alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="cardless-item">
                    <h2 class="lemon">NowPlaying</h2>
                    <p class="subhead">e-Ink Spotify Display</p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-logo.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-11.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-4.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-7.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-6.png" alt="">
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-2.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-3.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-9.png" alt="">
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/error.png"
                                        alt="staked error popup windows with old MacOS UI style reading, 'Error 404: Song Not Found'">
                                    <div class="card-info">
                                        <h5>Idle State</h5>
                                        <p class="md:max-w-32">When there is no song playing.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="nowPlaying/np-logo-process.png"
                                        alt="Spotify logo (green circle with three white curved lines, stacked), Spotify logo dithered (previously green area filled in with black dots on a white background, creating the illusion of gray from a distance, a.k.a. dithering), NowPlaying logo (12 squares, arranged to allude to the three stacked curves and dithering)">
                                    <div class="card-info">
                                        <h5>Logo Process</h5>
                                        <p class="md:max-w-32">The use of a grpahics technique called
                                            'Dithering' and of Spotify music streaming are key characteristics of this
                                            project. I combined these elements
                                            to create a well-representative brand for the project.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>Context</h5>
                        <p>Visual design for <a href="https://github.com/CampbellOwen/NowPlaying">Spotify e-ink display
                                project by Owen Campbell.</a> Assets created in Figma.
                        </p>
                    </div>

                    <div class="cardless-item">
                        <h5>Explanation</h5>
                        <p>Displays information about the current playing song in Spotify on a black, white, and red
                            e-Ink display. Includes
                            the song name, album name, album artwork, artist name, track position in album, and track
                            popularity.
                        </p>
                    </div>

                    <div class="cardless-item">
                        <h5>Inspiration</h5>
                        <p>Influenced by 90s UI, especially in typeface selection of Chicago, Andale Mono
                            and Geneva.</p>
                    </div>

                </div>

            </div>

            <%- include footer.html -%>

    </body>

</html>