@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    @font-face {
      font-family: Capriola;
      font-weight: 400;
      src: url(../fonts/Capriola-Regular.ttf) format("ttf");
    }

    @font-face {
      font-family: Inter;
      font-weight: 200;
      src: url(../fonts/Inter-ExtraLight-200.ttf) format("ttf");
    }

    @font-face {
      font-family: Inter;
      font-weight: 400;
      src: url(../fonts/Inter-400.ttf) format("ttf");
    }

    @font-face {
      font-family: Inter;
      font-weight: 500;
      src: url(../fonts/Inter-Medium-500.ttf) format("ttf");
    }

  }

  :root {
    --heather-light:#DCBCFA;
    --heather-dark:#B794F4;
    --dark:#0F1222;
    --darker:#02061B;
    --light:#FAF1F3;
    --peach:#EA736B;
    --lemon:#FFC700;
    --sky:#61D0E9;
  }

  @layer components{

  body{
    color: var(--light);
  }

  .lemon{
    color: var(--lemon);
  }

  .sky{
    color: var(--sky);
  }

  .peach{
    color: var(--peach);
  }

  .project-div{
    @apply bg-yellow-400;
  }

  .project{
    @apply flex-col md:flex-row w-full px-4 my-12 flex bg-gray-900 rounded-md md:bg-none md:mx-0 flex bg-gray-900 rounded-md md:bg-none;
    
  }

  .nav, .nav a{
    float: right;
    @apply text-base leading-6 font-semibold text-purple-300;
    @apply flex list-none m-2 sm:text-purple-300 justify-end w-auto;
  }

  .nav-item{
    @apply rounded-full border-0 transition-all duration-200 sm:px-3 md:px-6 py-2; 
    @apply hover:text-purple-50 transition-all duration-200;
  }

  button{
    @apply bg-purple-300 rounded-full border-4 border-purple-400 transition-all duration-200;
    @apply mt-6 py-1 px-4;
    @apply text-base font-semibold;
  }

  button:hover{
    @apply shadow-3xl border-purple-50 transition-all duration-200;
  }

  button a{
    @apply text-gray-900 uppercase pl-1;
    padding-top:.1rem;
    @apply flex justify-center;
  }

  h1{
    font-size: 2.411em;
    font-family: Capriola;
  }

  .subhead{
    font-family: Inter;
    font-size: 19px;

  }

  h2{
    font-size: 1.953em;
    font-family: Capriola;
  }

  h3{
    font-size: 1.563em;
    font-family: Capriola;
  }

  h4{
    text-transform: uppercase;
    font-size: 1.25em;
    font-family: Capriola;
  }

  h5{
    font-size: 1.143em;
    font-family: Capriola;
    text-transform: uppercase;
  }

  h6{
    font-size: .8em;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 200;
    padding: 0,0,10px,0;
  }

  p{
   font-size: 1em;
   font-family: Inter;
   font-weight: 200;
   line-height: 22.85px;
  }

  .caption{
    font-size: .8em;
    font-family: Inter;
    font-weight: 200;
    text-transform: uppercase;
  }

.info-card{
  background-color: var(--darker);
  border-radius: 10px;
}

 .card-item{
   margin: 20px 0;
 }

}