<!doctype html>
<html lang="en">

    <head>
        <title>404: Page Not Found | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="About | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>
        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;600;700;800&display=swap');
        </style>
        <link rel="icon" href="http://www.heathermaskell.com/favicon.png">
    </head>

    <body class="font-sans bg-gray-900">

        <%- include header.html -%>

            <div class="flex flex-col">
                <img src="avi-cringe.png" class="flex place-self-center w-52"
                    alt="Cartoon Heather cringing at the awkwardness of the page you were looking for not existing.">
                <div class="flex flex-col justify-center align-center">
                    <h3 class="pt-6">Page not found!</h3>
                    <p class="pt-6">Thanks for your interest! This page doesn't exist anymore / yet.</p>
                    <p>Here, let me walk you home!</p>
                </div>
                <div class="button-div pt-8">
                    <button class="ghost-button">
                        <a href="index.html">
                            <h5>Work</h5>
                            <i class="ph-house-bold icon-right"></i>
                        </a>
                    </button>
                </div>

            </div>

            <%- include footer.html -%>


    </body>

</html>