<!doctype html>
<html lang="en">

    <head>
        <title>About | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="About | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;600;700;800&display=swap');
        </style>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
    </head>

    <body class="sticky-footer">

        <%- include header.html -%>



            <div id="about" class="px-2 py-12">
                <div class="w-full flex justify-center">
                    <img src="me3.png" class="w-64 h-64 rounded-full shadow-4xl" alt="ya girl heeb">
                </div>

                <div class="pt-8">
                    <h1 class="flex justify-center">About Me</h1>
                    <div class="lemon flex justify-center">
                        <p class="subhead">Hey, I'm Heather</p>
                    </div>
                    <div class="info-card">
                        <h5>I exist in two states:</h5>
                        <div class="flex flex-row pb-2 align-top">
                            <i class="ph-number-circle-one-fill numbered-bullet-point"></i>
                            <p>Dreaming up delightful things to design, paint, sew, build, write, cook, bake, record, or
                                code.</p>
                        </div>
                        <div class="flex flex-row align-top">
                            <i class="ph-number-circle-two-fill numbered-bullet-point"></i>
                            <p>Throwing myself aggessively into the actualization of those dreams.</p>
                        </div>
                    </div>

                    <div class="info-card">
                        <h5>Education</h5>
                        <div class="list-chunk">
                            <h6>Simon Fraser University, 2014-2019</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line p-s"></span>
                                <p>Bachelor of Science in Interactive Arts & Technology, concentration in Interactive
                                    Systems</p>
                            </div>
                        </div>
                    </div>

                    <div class="info-card">
                        <h5>Work Experience</h5>
                        <div class="list-chunk">
                            <h6>Microsoft, 2018</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line s-l"></span>
                                <p>UX Design Intern with the Microsoft Garage Internship Program, lead design for a
                                    security-focused desktop app</p>
                            </div>
                        </div>
                        <div class="list-chunk">
                            <h6>Evident Point Software Co, 2017</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line l-p"></span>
                                <p>UX Design Intern improving overall experience of e-Reading software, product and
                                    company websites, and branding licensed software</p>
                            </div>
                        </div>
                    </div>


                    <div class="info-card">
                        <h5>Volunteer Experience</h5>
                        <div class="list-chunk">
                            <h6>Cook Play Live, 2020</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line p-s"></span>
                                <p>Designed and built a Squarespace page for a New York based Food Education Nonprofit
                                    group with custom JavaScript and CSS</p>
                            </div>
                        </div>
                        <div class="list-chunk">
                            <h6>TR Domestic Violence, 2020</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line s-l"></span>
                                <p>Interviewed survivors of domestic violence to design a full prototype for a Domestic
                                    Violence emergency mobile app, conducted remote usability testing with domestic
                                    violence advocates in healthcare, law enforcement and security roles</p>
                            </div>
                        </div>
                        <div class="list-chunk">
                            <h6>Pachno, 2020</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line l-p"></span>
                                <p>Designed logo options for open source bug tracking software</p>
                            </div>
                        </div>
                        <div class="list-chunk">
                            <h6>Stone Orchard, 2021</h6>
                            <div class="flex flex-row">
                                <span class="gradient-line p-s"></span>
                                <p>Designed logo, custom typeface, packaging and apparel for flower farm</p>
                            </div>
                        </div>
                    </div>


                    <div id="skills" class="peach">
                        <hr>
                        <div class="info-card peach">
                            <h5>Tools</h5>
                            <ul class="tinylist">
                                <li>Adobe CC Suite</li>
                                <li>Figma</li>
                                <li>Sketch</li>
                                <li>InVision</li>
                                <li>Axure RP</li>
                                <li class="pt-2">Balsamiq</li>
                                <li>Keynote</li>
                                <li>HTML & CSS</li>
                                <li>JavaScript</li>
                                <li>Git</li>
                            </ul>
                        </div>
                        <div class="info-card sky">
                            <h5>Practices</h5>
                            <ul class="tinylist">
                                <li>Sketching</li>
                                <li>Wireframing</li>
                                <li>Prototyping</li>
                                <li>User Research</li>

                                <li>User Testing</li>
                                <li>Storyboarding</li>
                                <li>Illustration</li>
                                <li>Web Design</li>

                                <li class="pt-2">App Design</li>
                                <li>Visual Design</li>
                                <li>Branding</li>
                                <li>Illustration</li>

                                <li>Video Editing</li>
                                <li>Animation</li>
                                <li>Presenting</li>
                                <li>Collaboration</li>
                            </ul>
                        </div>
                    </div>

                    <div id="skills" class="sky">
                        <div class="section-header cardless-item">
                            <hr>
                            <h1>Books</h1>
                            <div>
                                <div class="small-carousel">
                                    <a href="https://www.goodreads.com/book/show/43848929-talking-to-strangers?ac=1&from_search=true&qid=kLHDijCSaR&rank=1"
                                        target="blank">
                                        <div class="carousel-card">
                                            <div class="carousel-img-container">
                                                <img src="books/TalkingtoStrangers.png"
                                                    alt="Book Cover of Talking to Strangers by Malcolm Gladwell">
                                            </div>
                                            <div class="carousel-card-text">
                                                <h5>Talking to Strangers</h5>
                                                <p>Malcolm Gladwell</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="https://www.goodreads.com/book/show/827.The_Diamond_Age?ac=1&from_search=true&qid=SfXyW14UBc&rank=2"
                                        target="blank">
                                        <div class="carousel-card">
                                            <div class="carousel-img-container">
                                                <img src="books/DiamondAge.png"
                                                    alt="Book Cover of The Diamond Age by Neal Stephenson">
                                            </div>
                                            <div class="carousel-card-text">
                                                <h5>The Diamond Age</h5>
                                                <p>Neal Stephenson</p>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="https://www.goodreads.com/book/show/44767458-dune?from_search=true&from_srp=true&qid=mbS9MjOYYM&rank=1"
                                        target="blank">
                                        <div class="carousel-card">
                                            <div class="carousel-img-container">
                                                <img src="books/Dune.png" alt="Book Cover of Dune by Frank Herbert">
                                            </div>
                                            <div class="carousel-card-text">
                                                <h5>Dune</h5>
                                                <p>Frank Herbert</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--

                    <h2 class="text-purple-300 tracking-widest text-xl">Dream Job</h2>
                    <p>Dream job: Improving the experience of using a product that I believe in with a
                        passionate and
                        collaborative team.</p>

                </div>
                </br>
                <p>If you're looking for someone to empathize with users, reimagine digital services as intuitive,
                    attractive and delightful experiences, and collaborate candidly and diplomatically with a team
                    to
                    incorproate feedback and transform designs into code - I'm your girl!</p>
            </div>

            <div id="contact" class="bg-indigo-900 bg-hero-hexagons">
                <div class="px-2 py-12">
                    <h3 class="text-3xl font-serif font-black text-center leading-6 text-gray-300">Get in touch!</h3>
                    <p class="mt-1 text-m text-gray-300 text-left mx-4 m py-4">
                        Collabs, job opportunities and friendship proposals are all enthusiastically
                        encouraged.
                    </p>
                    <p class="mt-1 text-sm text-gray-300 text-center mx-4 mb-6 pb-4">
                        Shoot me a message here or reach me through my socials below.
                    </p>

                    <div class="sm:w-1/2 w-full mx-auto px-4 rounded-md shadow-2xl">
                        <form action="#" method="POST">
                            <div class="shadow sm:rounded-md sm:overflow-hidden">
                                <div class="px-4 py-5 bg-gray-900 space-y-6 sm:p-6">
                                    <div class="">
                                        <div class="">
                                            <label for="contact-name" class="block text-sm font-medium text-gray-200">
                                                Name
                                            </label>
                                            <div class="mt-1 flex rounded-md shadow-sm">
                                                <input type="text" id="name"
                                                    class="bg-gray-700 p-2 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-md sm:text-sm border-gray-300"
                                                    placeholder="Yuri Naim">
                                            </div>
                                        </div>
                                        <div class="">
                                            <label for="contact-name" class="block text-sm font-medium text-gray-200">
                                                Email
                                            </label>
                                            <div class="mt-1 flex rounded-md shadow-sm">
                                                <input type="text" id="email"
                                                    class="bg-gray-700 p-2 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-md sm:text-sm border-gray-300"
                                                    placeholder="yurinaim@example.com">
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <label for="message" class="block text-sm font-medium text-gray-200">
                                            Message
                                        </label>
                                        <div class="mt-1">
                                            <textarea id="about" rows="3"
                                                class="bg-gray-700 p-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                                placeholder="Hello i am a nigerian prince pls send help"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 pb-6 bg-gray-900 text-right sm:px-6">
                                    <button type="submit"
                                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            -->
                    <%- include footer.html -%>

    </body>

</html>