<!doctype html>
<html lang="en">

    <head>
        <title>Break | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Break | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include gd-alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">
                <div class="cardless-item">
                    <h2 class="lemon">Break</h2>
                    <p class="subhead">Cinematography, VFX and editing for student short film</p>
                </div>




                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card flex md:m-auto md:justify-center">
                                    <iframe width="560" height="315"
                                        src="https://www.youtube-nocookie.com/embed/SVrK5GRBbHE?controls=0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="break/stills-3.png">
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="project-context">
                    <div class="cardless-item">
                        <h5>Explanation</h5>
                        <p>A drama-thriller depicting a young woman after her breakup with her clingy boyfriend.</p>
                    </div>
                    <div class="cardless-item">
                        <h5>Context</h5>
                        <p>Completed as a student project for the School of Interactive Arts and Technology in
                            collaboration with Kaylie Au, Josh Lukman and Kai Lee Macbain.
                        </p>
                    </div>
                </div>
            </div>

            <%- include footer.html -%>

    </body>

</html>