<!doctype html>
<html lang="en">

    <head>
        <title>Tabula Rasa Domestic Violence Branding | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Stone Orchard | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include gd-alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">
                <div class="cardless-item">
                    <h2 class="lemon">Tabula Rasa Branding</h2>
                    <p class="subhead">Branding project for a Domestic Violence Nonprofit.</p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="tabula-rasa/trdv-b-a-2.png" alt="Old and new logos side by side">
                                    <div class="card-info">
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="tabula-rasa/trdv-b-a-1.png" alt="Old and new logos side by side">
                                    <div class="card-info">
                                    </div>
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="tabula-rasa/trdv-b-a-3.png"
                                        alt="Old and new logos side by side in social media context.">

                                    <div class="card-info">

                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <%- include footer.html -%>

    </body>

</html>