<!doctype html>
<html lang="en">

    <head>
        <title>Graphic Arts | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Graphic Arts | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="cardless-item">
                    <h2 class="lemon">Graphic Arts</h2>
                    <p class="subhead">Paintings and vector graphics created as passion projects</p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/torii-2.png" alt="">
                                    <h5>Shrine</h5>
                                    <p>Digital painting of a Shinto shrine created in Procreate for iPad.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/street.png" alt="">
                                    <h5>Night St.</h5>
                                    <p>Vector art created from photo reference in Adobe Illustrator.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/church-2.png" alt="">
                                    <h5>Russian Orthodox Church</h5>
                                    <p>Digital painting of a russian church created in Procreate for
                                        iPad.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/clouds.png" alt="">
                                    <h5>Clouds</h5>
                                    <p>Digital painting of a cloudy sky from live observation created in Procreate for
                                        iPad.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/egg.png" alt="">
                                    <h5>Eggsplosion</h5>
                                    <p>Digital painting created in Procreate for iPad.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/mourir.png" alt="">
                                    <h5>Heureux</h5>
                                    <p>Digital painting created in Procreate for iPad.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/mountains.png" alt="">
                                    <h5>Bob Ross Mountains</h5>
                                    <p>Oil painting of mountains created using a Bob Ross tutorial.</p>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="graphic-arts/book-cover.png" alt="">
                                    <h5>A Young Lady's Illustrated Primer</h5>
                                    <p>Book cover design for a fictitious text from Neal Stephenson's Diamond Age.
                                        Created in Adobe Illustrator.</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>



            </div>

            <%- include footer.html -%>

    </body>

</html>