<!doctype html>
<html lang="en">

    <head>
        <title>Image Manipulation | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Saw You In A Dream | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="cardless-item">
                    <h2 class="lemon">Image Manipulation</h2>
                    <p class="subhead">Patterns and graphics made by manipulating images into something new</p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="img-mani/20-far.png" alt="">
                                </div>
                            </li>



                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="img-mani/blossom.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="img-mani/bridge.png" alt="">
                                </div>
                            </li>


                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="img-mani/canyon.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="img-mani/20-water.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="img-mani/face-muted.png" alt="">
                                </div>
                            </li>


                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="img-mani/industrial.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="img-mani/spring.png" alt="">
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="img-mani/shimmer.png" alt="">
                                </div>
                            </li>


                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="img-mani/liquid.png" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>Inspiration</h5>
                        <p>Followed my curiosity to test various image editing features across several applications.
                            Created as a meditative and explorative practice.</p>
                    </div>
                    <div class="cardless-item">
                        <h5>Explanation</h5>
                        <p>The goal for this project was to turn photos I'd taken into entirely new works through the
                            use of various features in image editing
                            software. I adjusted the curve, applied texture filters, used content-aware image healing
                            and other features to alter the image until the image had become something
                            altogether new.</p>
                    </div>
                    <div class="cardless-item">
                        <h5>Context</h5>
                        <p>Created as a passion project using Snapseed and Procreate.</p>
                    </div>
                </div>

            </div>

            <%- include footer.html -%>

    </body>

</html>