<!doctype html>
<html lang="en">

    <head>
        <title>Mobital | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Mobital | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="title-with-button flex-col pb-4 sm:flex-row sm:pb-0">
                    <div class="cardless-item">
                        <h2>Mobital</h2>
                        <p class="subhead">eCommerce website design for B2B luxury furniture manufacturer</p>
                    </div>

                    <div class="go-to-site-button-container px-4 sm:px-0">
                        <a href="https://www.mobital.ca" target="_blank">
                            <div class="ghost-button site-link">
                                <h5>go to site</h5>
                                <i class=" ph-arrow-square-out-bold icon-right"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="intro-info">
                    <div class="w-full flex pt-2">
                        <div class="intro-left flex-1">
                            <h6>Project Scope</h6>
                            <p>Web Design</p>
                            <p>Wireframes</p>
                            <p>Mockups</p>
                        </div>
                        <div class="info-right text-right flex-1">
                            <h6>Collaborators</h6>
                            <p><a href="https://www.teifi.ca">
                                    Teifi Digital
                                </a></p>
                        </div>
                    </div>
                </div>


                <div class="single-image">
                    <img src="mobital-cover-2.png" alt="Mobital e-commerce site">
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>The Client</h5>
                        <p>Mobital is a Canadian luxury furniture manufacturing company.
                        </p>
                    </div>

                    <div class="cardless-item">
                        <h5>The Goal</h5>
                        <p>Redesign Mobital's website to improve the experience of finding and reviewing products for
                            purchase online.</p>
                    </div>
                </div>


            </div>

            <div class="cardless-item">
                <!-- <a href="/teifi.html">Next Project</a> -->
            </div>

            <%- include footer.html -%>

    </body>

</html>