<!doctype html>
<html lang="en">

    <head>
        <title>Pachno | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Pachno | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">
                <div class="cardless-item">
                    <h2 class="lemon">Pachno</h2>
                    <p class="subhead">Branding project for an <a href="https://github.com/pachno/pachno"
                            target="_blank">open source
                            bug tracker.</a></p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="pachno.png" alt="Logo featuring a beetle">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="pachno/op1.png"
                                        alt="Logo featuring a the triangular plate from the pachnoda beetle's back.">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="pachno/op2.png"
                                        alt="Logo featuring the face on the back of the pachnoda beetle.">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="pachno/op3.png"
                                        alt="Logo featuring the pachnoda beetle, modernized and simplified.">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>Inspiration</h5>
                        <p>
                            I took inspiration from the pachoda beetle for which the company is named. I created
                            concepts based on the pachnoda beetle's overall likeness, its iconic triangular back plate,
                            and the similarity of the markings on its back to a face.
                        </p>
                    </div>
                    <div class="cardless-item">
                        <h5>Explanation</h5>
                        <p>Pachno is Open Source bug tracking and project maganement software. The software company was
                            formerly called "The Bug Genie". The name Pachno was derived from the Pachnoda Beetle. The
                            client requested a logo that was recognizable but distinguishable, simple, modern and
                            elegant, and used the hex color #008A91.</p>
                    </div>
                    <div class="cardless-item">
                        <h5>Context</h5>
                        <p>Completed as a volunteer project. Connected through <a href="www.opensourcedesign.com">Open
                                Source Design</a>.
                        </p>
                    </div>
                </div>
            </div>

            <%- include footer.html -%>

    </body>

</html>