<!doctype html>
<html lang="en">

    <head>
        <title>Saw You In A Dream | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Saw You In A Dream | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="cardless-item">
                    <h2 class="lemon">Saw You In A Dream</h2>
                    <p class="subhead">Concept exploration through graphic design</p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/girl-words.png" alt="">
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/tunnel-blend.png" alt="">
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/tunnel.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/words.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/leaf.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/leaves.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/pill.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/album.png" alt="">
                                </div>
                            </li>

                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/process.png" alt="">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="sawyou/assets.png" alt="">
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>Inspiration</h5>
                        <p>Inspired by the song <a href="https://www.youtube.com/watch?v=LxZDxF0MyV0">Saw You In A Dream
                                by The Japanese House.</a> When I listen to this song, a night-scape is conjured
                            in my mind’s eye with shapes suggested in pink and turquoise. They
                            disintegrate as soon as they are seen, reminiscent of the feeling of falling
                            from a dream and clinging to periphery of that other world as one loses
                            unconsciousness.</p>
                    </div>
                    <div class="cardless-item">
                        <h5>Explanation</h5>
                        <p>This series is an allegory for the feeling of being
                            ripped from a dream before its natural conclusion, when the pieces that
                            formed that unconscious realm begin to slip away despite one’s efforts to
                            smuggle them home into waking memory. Words and shapes, the vestiges of the
                            rich and transformative scenes of a dream, lose their integrity and shatter as
                            dimensions forcibly shift.
                        </p>
                    </div>
                    <div class="cardless-item">
                        <h5>Context</h5>
                        <p>Completed as a passion project in Adobe Illustrator.
                        </p>
                    </div>
                </div>

            </div>

            <%- include footer.html -%>

    </body>

</html>