<!doctype html>
<html lang="en">

    <head>
        <title>Smash + Tess | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Smash + Tess | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="title-with-button">
                    <div class="cardless-item">
                        <h2>Smash + Tess</h2>
                        <p class="subhead">e-Commerce website design for Vancouver-based fashion brand</p>
                    </div>

                    <div class="go-to-site-button-container">
                        <a href="https://www.smashtess.ca" target="_blank">
                            <div class="ghost-button">
                                <h5>go to site</h5>
                                <i class=" ph-arrow-square-out-bold icon-right"></i>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="intro-info">
                    <div class="w-full flex pt-2">
                        <div class="intro-left flex-1">
                            <h6>Project Scope</h6>
                            <p>Web Design</p>
                            <p>Wireframes</p>
                            <p>Mockup Contributions</p>
                            <p>Accessibility Audit</p>
                            <p>QA Testing</p>
                        </div>
                        <div class="info-right text-right flex-1">
                            <h6>Collaborators</h6>
                            <p><a href="www.teifi.ca">
                                    Teifi Digital
                                </a></p>
                        </div>
                    </div>
                </div>


                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel">
                            <li class="splide__slide">
                                <img src="smashtess-cover.png" alt="Product page of Smash and Tess e-commerce site">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>The Client</h5>
                        <p>Smash and Tess are a family & female owned and operated Vancouver-based inclusivity &
                            sustainability friendly fashion brand.
                        </p>
                    </div>

                    <div class="cardless-item">
                        <h5>The Problem</h5>
                        <p>Previously, they had been operating their growing business on a Shopify theme that was not
                            designed for their scale of operation.</p>
                    </div>

                    <div class="cardless-item">
                        <h5>The Goal</h5>
                        <p>Craft a Shopify theme based on their new branding, designed to be modular to fit their
                            various content types, and easy for their team to update in-house.</p>
                    </div>
                </div>


            </div>

            <div class="cardless-item">
                <!-- <a href="/paraxplore.html">Next Project</a> -->
            </div>

            <%- include footer.html -%>

    </body>

</html>