<!doctype html>
<html lang="en">

    <head>
        <title>Stone Orchard | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Stone Orchard | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></script>
        <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="cardless-item">
                    <p class="caption">Project Title</p>
                    <h1 class="lemon">Stone Orchard</h1>
                    <p class="subhead">Branding project for Stone Orchard Flower Farm.</p>
                </div>

                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel stone-orchard-carousel">
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="stoneOrchard/Logo.png"
                                        alt="Logo featuring a cracked glass greenhouse and an overgrowth of flowers on a dark background with the brand name in the custom font.">
                                    <div class="card-info">
                                        <h5>Greenhouse Logo</h5>
                                        <p class="md:max-w-32">Custom logo created in Illustrator, featuring a cracked
                                            greenhouse, an
                                            overgrowth of flowers, and a custom typeface made from a reference sketch.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="stoneOrchard/Wordmark.png"
                                        alt="Logo featuring the brand name in the custom font with dark colors."
                                        class="big-ol-img">
                                    <div class="card-info">
                                        <h5>Wordmark</h5>
                                        <p class="md:max-w-32">Wordmark logo for situations where less space can be
                                            afforded
                                            for the
                                            Greenhouse logo to sit comfortably and legibly.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="stoneOrchard/b-cards.png"
                                        alt="Dark square business cards featuring the wordmark logo on the front, service information on the back (Fresh & Local Flowers, Weddings, Events, Markets, Home, the company's address, phone number, email and handle) with brand flowers from logo.">

                                    <div class="card-info">
                                        <h5>Business Card</h5>
                                        <p class="md:max-w-32">Square business card featuring brand colors and graphics,
                                            promoting key
                                            areas
                                            of service. Created in Figma.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="stoneOrchard/findley.png"
                                        alt="Custom typeface created for Stone Orchard.">
                                    <div class="card-info">
                                        <h5>Custom Font - Findley</h5>
                                        <p class="md:max-w-32">Custom font created for Stone Orchard, named for Canadian
                                            author Timothy
                                            Findley, who inspired the farm's name. Created in Illustrator, downloadable
                                            as
                                            .ttf
                                            <a href="https://tinyurl.com/findley-font"
                                                alt="Link to Findley Font">here</a>.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="stoneOrchard/original-reference.png" alt="">
                                    <div class="card-info">
                                        <h5>Original Sketch</h5>
                                        <p class="md:max-w-32">Sample of client's vision for the brand font, traced,
                                            tweaked
                                            and
                                            extrapolated throughout the alphabet to create Findley.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <div class="max-w-full flex flex-row">

                                        <img class="vid-series" src="stoneOrchard/bags-and-box-mock.png"
                                            alt="Mockups of tins for flower tea displaying logo">
                                        <img class="vid-series" src="stoneOrchard/tin-mock.png"
                                            alt="Mockups of packaging for flowers">
                                        <img class="vid-series" src="stoneOrchard/cardboard-mock.png"
                                            alt="Mockups of packaging for flowers">
                                    </div>
                                    <div class="card-info">
                                        <h5>Packaging</h5>
                                        <p class="md:max-w-32">Mockups of collateral with logo, including bags & boxes,
                                            tins
                                            for flower
                                            tea,
                                            and shipment boxes. Created in Photoshop.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img class="" src="stoneOrchard/stickers.png"
                                        alt="Sticker with logo for flower wraps">
                                    <div class="card-info">
                                        <h5>Stickers</h5>
                                        <p class="md:max-w-32">Mockups of logo stickers for flower wraps.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="stoneOrchard/uniform.png" alt="">

                                    <div class="card-info">
                                        <h5>Employee Uniform</h5>
                                        <p class="md:max-w-32">Logos carefully placed to ensure visibility in all outfit
                                            combinations. Forest Shadow color used to make employees easier to spot when
                                            contrasted
                                            against bright flowers, and to conceal the appearance of
                                            dirt. Created in Photoshop.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="info-card md:justify-center">
                                    <img src="stoneOrchard/apparel.png" alt="">
                                    <div class="card-info">
                                        <h5>Merchandise Apparel</h5>
                                        <p class="md:max-w-32">Designed to provide an opportunity to increase brand
                                            awareness, brand appeal and community ties by creating a product which, for
                                            each
                                            sale, a percentage of merchandise sale profits could be donated to a charity
                                            that aligns with the brand’s values. Created in Photoshop.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--

                <div class="info-card md:justify-center">
                    <img src="stoneOrchard/Logo.png"
                        alt="Logo featuring a cracked glass greenhouse and an overgrowth of flowers on a dark background with the brand name in the custom font.">
                    <div class="card-info">
                        <h5>Greenhouse Logo</h5>
                        <p class="md:max-w-32">Custom logo created in Illustrator, featuring a cracked greenhouse, an
                            overgrowth of flowers, and a custom typeface made from a reference sketch.</p>
                    </div>
                </div>

                <div class="info-card md:justify-center">
                    <img src="stoneOrchard/Wordmark.png"
                        alt="Logo featuring the brand name in the custom font with dark colors." class="big-ol-img">
                    <div class="card-info">
                        <h5>Wordmark</h5>
                        <p class="md:max-w-32">Wordmark logo for situations where less space can be afforded for the
                            Greenhouse logo to sit comfortably and legibly.</p>
                    </div>
                </div>

                <div class="info-card md:justify-center">

                    <img class="" src="stoneOrchard/b-cards.png"
                        alt="Dark square business cards featuring the wordmark logo on the front, service information on the back (Fresh & Local Flowers, Weddings, Events, Markets, Home, the company's address, phone number, email and handle) with brand flowers from logo.">

                    <div class="card-info">
                        <h5>Business Card</h5>
                        <p class="md:max-w-32">Square business card featuring brand colors and graphics, promoting key
                            areas
                            of service. Created in Figma.</p>
                    </div>
                </div>


                <div class="info-card md:justify-center">
                    <img src="stoneOrchard/findley.png" alt="Custom typeface created for Stone Orchard.">
                    <div class="card-info">
                        <h5>Custom Font - Findley</h5>
                        <p class="md:max-w-32">Custom font created for Stone Orchard, named for Canadian author Timothy
                            Findley, who inspired the farm's name. Created in Illustrator, downloadable as .ttf
                            <a href="https://tinyurl.com/findley-font" alt="Link to Findley Font">here</a>.
                        </p>
                    </div>
                </div>

                <div class="info-card md:justify-center">
                    <img src="stoneOrchard/original-reference.png" alt="">
                    <div class="card-info">
                        <h5>Original Sketch</h5>
                        <p class="md:max-w-32">Sample of client's vision for the brand font, traced, tweaked and
                            extrapolated throughout the alphabet to create Findley.</p>
                    </div>
                </div>

                <div class="info-card md:justify-center">
                    <div class="max-w-full flex flex-row">

                        <img class="vid-series" src="stoneOrchard/bags-and-box-mock.png"
                            alt="Mockups of tins for flower tea displaying logo">
                        <img class="vid-series" src="stoneOrchard/tin-mock.png" alt="Mockups of packaging for flowers">
                        <img class="vid-series" src="stoneOrchard/cardboard-mock.png"
                            alt="Mockups of packaging for flowers">
                    </div>
                    <div class="card-info">
                        <h5>Packaging</h5>
                        <p class="md:max-w-32">Mockups of collateral with logo, including bags & boxes, tins for flower
                            tea,
                            and shipment boxes. Created in Photoshop.</p>
                    </div>
                </div>

                <div class="info-card md:justify-center">
                    <div class="max-w-full flex flex-row">

                        <img class="" src="stoneOrchard/stickers.png" alt="Sticker with logo for flower wraps">
                    </div>
                    <div class="card-info">
                        <h5>Stickers</h5>
                        <p class="md:max-w-32">Mockups of logo stickers for flower wraps.</p>
                    </div>
                </div>

                <div class="info-card md:justify-center">
                    <img src="stoneOrchard/uniform.png" alt="">

                    <div class="card-info">
                        <h5>Employee Uniform</h5>
                        <p class="md:max-w-32">The employee uniform design features a t-shirt with the wordmark as a
                            badge.
                            As the front of
                            the shirt will often be covered by the apron, the apron bares the logo. The real-estate on
                            the
                            back of the t-shirt
                            is leveraged to dazzle with the full greenhouse logo.

                            The use of the Forest Shadow colour of the uniform is intended to contrast employees against
                            the
                            bright flowers, making them easier to spot, and to conceal the appearance of dirt. Created
                            in
                            Photoshop.</p>
                    </div>
                </div>

                <div class="info-card md:justify-center">
                    <img src="stoneOrchard/apparel.png" alt="">
                    <div class="card-info">
                        <h5>Merchandise Apparel</h5>
                        <p class="md:max-w-32">Designed to provide an opportunity to increase brand awareness, brand
                            appeal
                            and community ties by creating a product which, for each sale, a percentage of merchandise
                            sale
                            profits could be donated to a charity that aligns with the brand’s values. Created in
                            Photoshop.
                        </p>
                    </div>
                </div>

                -->


            </div>

            <%- include footer.html -%>

    </body>

</html>