<!doctype html>
<html lang="en">

    <head>
        <title>Zenzaco Towing | Heather Maskell</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Zenzaco Towing | Heather Maskell">
        <meta name="author" content="Heather Maskell">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
            </script>

        <script src="bundle.js"></sscript >
                <script src="https://unpkg.com/phosphor-icons"></script>
        <link rel="icon" href="https://www.heathermaskell.com/favicon.png">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2NYEBWVFJK"></script>
        <script>
                                        window.dataLayer = window.dataLayer || [];
                                        function gtag() {dataLayer.push(arguments); }
                                        gtag('js', new Date());

                                        gtag('config', 'G-2NYEBWVFJK');
        </script>
    </head>

    <body class="">

        <%- include alt-header.html -%>

            <div class="content animation-page w-full mt-16 md:px-32">

                <div class="title-with-button flex-col pb-4 sm:flex-row sm:pb-0">
                    <div class="cardless-item">
                        <h2>Zenzaco Towing</h2>
                        <p class="subhead">Emergency towing service in the Chilcotin-Caribou region of Northern BC.</p>
                    </div>
                </div>

                <div class="intro-info">
                    <div class="w-full flex pt-2">
                        <div class="intro-left flex-1">
                            <h6>Project Scope</h6>
                            <p>Brand Design</p>
                        </div>

                    </div>
                </div>


                <div class="splide">
                    <div class="splide__track img-carousel-container">
                        <ul class="splide__list img-carousel">
                            <li class="splide__slide">
                                <img src="zenzaco-cover.png" alt="Zenzaco Brand">
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="project-context">
                    <div class="cardless-item">
                        <h5>The Client</h5>
                        <p>Named for a creek in the region, Zenzaco Towing is an emergency towing service in the
                            Chilcotin-Caribou Region.
                        </p>
                    </div>

                    <div class="cardless-item">
                        <h5>The Problem</h5>
                        <p>As a new company, they didn't have a brand. They were interested in a brand identity that
                            conveyed the nature of their services at a glance, and emphasized their speedy response.</p>
                    </div>

                    <div class="cardless-item">
                        <h5>The Goal</h5>
                        <p>Design a logo for the business within 4 hours.</p>
                    </div>
                </div>


            </div>

            <div class="cardless-item">
                <!-- <a href="flow-co.html">Next Project</a> -->
            </div>

            <%- include footer.html -%>

    </body>

</html>